.hero {
    max-height: 25vh !important;
}
.home {
    display: flex !important;
    flex-direction: row !important;
    height: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    font-size: 20px;
    font-weight: 800;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    background-color: rgba(233, 60, 60, 0.8) !important;
    box-shadow: 10px 5px 5px rgba(182, 178, 178, 0.6) !important;
}
.store {
    text-align: center;
    display: flex !important;
    flex-direction: row !important;
    height: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    font-size: 20px;
    font-weight: 800;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    background-color: rgba(248, 244, 4, 0.8) !important;
    text-align: center !important;
    justify-content: center !important;
    box-shadow: 10px 5px 5px rgba(182, 178, 178, 0.6) !important;
}
.img {
    margin-left: 3%;
}
.hot {
    display: flex !important;
    flex-direction: column !important;
    height: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    font-size: 20px;
    font-weight: 800;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    background-color: rgba(54, 80, 231, 0.8) !important;
    text-align: center !important;
    justify-content: center !important;
    box-shadow: 10px 5px 5px rgba(182, 178, 178, 0.6) !important;
}
.carousel {
    max-width: 50% !important;
    margin-left: 25%;
    margin-right: 25%;
}
.items {
    background-color: transparent !important;
    border: none !important;
}
@media only screen and (max-width: 922px) {
    .home {
        flex-direction: column !important;
    }
    body {
        overflow-x: hidden;
    }
    .bg {
         background-image: url('../../images/bg2.png');
         background-size: 80%;
         background-repeat: no-repeat;
         background-position: center;
         background-origin: border-box;
         background-attachment: fixed;
         z-index: -5;
    }
}