.linkcol {
    color: black !important;
    font-size: 22px;
}
.logo {
    width: 10vw;
}
.mr-auto {
    margin-top: none;
}
@media only screen and (max-width: 922px) {
    .logo {
        width: 60vw;
    }
}