.green {
    display: flex !important;
    flex-direction: row !important;
    height: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    background-color: rgba(101, 207, 40, 0.8) !important;
    box-shadow: 10px 5px 5px rgba(182, 178, 178, 0.6) !important;
}
.time {
    margin-top: 5%;
    margin-left: 15%;
    display: flex !important;
    flex-direction: column !important;
}
.add {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 5%;
    display: flex !important;
    flex-direction: column !important;
}
.map {
    width: 50vw !important;
}
@media only screen and (max-width: 922px) {
    .green {
        flex-direction: column !important;
        text-align: center !important;
    }
    .add {
        margin-top: 0 !important;
        margin-right: 0 !important;
    }
    .time {
        margin-top: 0 !important;
        margin-left: 0 !important;
    }
    .bg {
        background-image: url('../../images/bg2.png');
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        background-origin: border-box;
        background-attachment: fixed;
        z-index: -5;
   }
}