body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.confetti {
  display: none;
}

@media only screen and (min-width: 922px) {
  .confetti {
    display: block;
    z-index: -4 !important;
    width: 100vw;
    position: fixed !important;
  }

 .bg:after {
  content: "";
  z-index: -5;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url('./images/gif.gif');
  background-size: cover;
  background-repeat: repeat-x;
  background-position-y: 0%;
  animation: move 45s infinite linear;
}

.bg:before {
  position: fixed;
  z-index: -5;
  right: -105%;
}

@keyframes move {
  from {transform: translateX(  40%);}
    to {transform: translateX(-150%);}
}
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}